
ul,
body  {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial;
}

.arrow-yellow {
    width: 78px;
    height: 2px;
    background-color: #d7a853;
    margin: 20px auto 0 auto;
}

.logo {
    background-image: url(img/logo_1.png);
    width: 121px;
    height: 32px; 
}

a.contact-us {
    width: 300px;
    height: 50px;
    border: 3px solid #dce3ea;
    border-radius: 3px;
    margin: 80px auto 0 auto;
    text-align: center;
    display: block;
    color: #dce3ea;
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    text-decoration: none;
}

/*      common classes      end     */


header {
    width: 100%;
    height: 52px;
    position: fixed;
    z-index: 10;
}
header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 52px;
    background-color: rgba(25, 25, 25, 0.7);
}

.burger {
    background-image: url(img/burger.png);
    width: 23px;
    height: 23px;
   /* background-color: #ececec;*/
}

header ul {
    display:none;
}

header ul.open {
    height: 490px;
    opacity: 0.9;
    background-color: #191919;
        background-color: rgb(25, 24, 24);
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    padding: 40px 0 0 0px;
    border-top:1px solid #424242;
    display:block;
}

header ul li {
    color: #c7c6c6;
    font-size: 22px;
    font-weight: 400;
    padding: 0px 0 30px 20px;
}
header ul li.soc {
    display: flex;
    padding: 0px 20px 0 20px;
    justify-content: space-between;
}

header ul li.soc img {
    padding: 0;
}

li .logo {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 86px;
    height: 23px;
    position: relative;
}

li .logo:before {
    content: "";
    position: absolute;
    margin: 13px 0 0 -110px;
    width: 103px !Important;
    height: 1px;
    background-color: #424242;
}

li .logo:after {
    content: "";
    position: absolute;
    margin: 13px 0 0 93px;
    width: 107px !Important;
    height: 1px;
    background-color: #424242;
}

li.secondlogo {
    padding:0px 0 20px 0;
    display: flex;
    align-items: center;
}

li.contact-us_menu {
     padding: 0;
}

li.contact-us_menu  a.contact-us {
    margin: 15px auto 0 auto;
}

.first_block {
    background-image: url(img/aye_ban_1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.first_block p.first_p_firbl {
    padding: 130px 0 0 0;
    margin: 0 auto;
    height: 22px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.first_block p.second_p_firbl {
    color: white;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 250px;
}

.first_block img {
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    display: block;
}


 /*вторая страница************************************************/
.bx-wrapper .bx-controls-direction a {
    display: none !Important;
}

/*           slider-first  start    320px  */
.second_block .bx-wrapper img {
    margin: 0 auto !important;
    margin: 0px 0 0 40px !important;
}
.second_block .bx-viewport ul li {
    width: 200px !important;
    padding: 0 0 0 20px;
}

.second_block ul.bxslider {
    justify-content: center !important;
    display: flex !important;
}
.second_block .bx-wrapper .bx-controls-direction a {
    display: none !important;
}

.second_block .bx-wrapper {
    margin: 0 auto !important;
}
.bx-viewport {
    box-shadow: 0 0 0px #ccc !important;
}

.bx-wrapper .bx-pager {
    bottom: 0 !important;
}
.second_block .bx-viewport {
    box-sizing: border-box;
    z-index: -1;
}

/*           slider-first           end      */


p.why {
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin: 20px 0 10px 0;
}

.second_block .second_block .arrow-yellow {
    margin: 0 auto 20px auto
}

.second_block .bxslider li p {
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 20px auto 15px auto;
    width: 300px;
}

.second_block .bxslider .arrow-yellow {
    margin: 0 auto 15px auto
}

.second_block .bxslider p.hoya {
    margin: 0 0 25px 0px;
    color: #9e9e9e;
}

.second_block .arrow_goriz {
    width: 300px;
}


/*       третья странийца     */
.third_block p.about._comp {
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin: 30px 0 15px 0;
}

.third_block .arrow-yellow {
    margin: 15px auto;
}

.third_block p.little_history {
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin: 0 20px 30px 20px;
    text-align: center;
}

.third_block p.describ {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0 10px 0 10px;
}

/*        четвертая   */

.fourth_block {
    background: #000000;
    background-image: url(img/backgr_video.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    margin: 35px 0 0 0;
    height: 350px;
    position: relative;
}

video {
    display:none;
    margin: 0 auto 0 auto;
   /* padding: 110px 0 35px 0;*/
}

.fourth_block img {
    margin: 0 auto 0 auto;
    padding: 110px 0 35px 0;
    height: 200px;
    display: block;
}
body .fourth_block .bx-wrapper {
    margin: 0;
    /*position: absolute;*/
    top: 0;
    padding: 110px 0 35px 0;
    z-index: 5;
}

body .fourth_block .bx-wrapper img {
    padding: 0;
    height: 200px;
    width: 300px;
}

.fourth_block div#bx-pager img {
    height: 88px;
    width: 50px;
    padding: 10px 0 0px 0;
}

body .fourth_block .bx-wrapper .bx-viewport {
    height: 200px !Important;
    border: none;
    left: 0;
    width: 300px !Important;
    margin: 0 10px;
}

.fourth_block div#bx-pager {
    display: flex;
    justify-content: space-between;
}




/*      пятая          */
.fifth_block p.suggest {
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin: 140px 0 15px 0;
}

.fifth_block .arrow-yellow {
    margin: 10px auto;
}

.fifth_block p.describ {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 10px 0 10px;
}

.fifth_block p.describ span {
    color: #0068b6;
    font-size: 20px;
    font-weight: 700;
}

.down_block {
   text-align: center;
   margin: 20px 0 0 0;
}

.down_block p {  
    width: 152px;
    height: 14px;
    color: #e5cb52;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 10px auto 30px auto;
}
.down_block img {  
    width: 140px;
    height: 33px;
}



/*        шестая         */
.sixth_block img.imgforvideo {
    width: 318px;
    height: 320px;
}

.sixth_block .bx-wrapper img {
    margin: 0 auto !important;
    margin: 0px 0 0 40px !important;
}
.sixth_block .bx-viewport ul li {
    width: 200px !important;
    padding: 0 0 0 20px;
}

.sixth_block ul.bxslider {
    justify-content: center !important;
    display: flex !important;
}
.sixth_block .bx-wrapper .bx-controls-direction a {
    display: none !important;
}

.sixth_block .bx-wrapper {
    margin: 0 auto !important;
}
.sixth_block .bx-viewport {
    box-sizing: border-box;
    z-index: -1;
}
.sixth_block .bxslider li p {
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 20px auto 15px auto;
    width: 300px;
}

.sixth_block .arrow_goriz {
    width: 300px;
}


/*         седьмая    */
.seventh_block a.contact-us {
    width: 300px;
    border-radius: 3px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    height: 57px;
    border: 4px solid #dce3ea;
    margin: 15px auto 40px auto;
    text-transform: uppercase;

}

.seventh_block .form_cont_us {
    background-image: url(img/back7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px 0 0 0;
    position: relative;
}
.seventh_block .form_cont_us:before {
    content: "";
    width: 1px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 0;
}
.seventh_block .form_cont_us:after{
    content: "";
    width: 1px;
    height: 20px;
    background: #000;
    position: absolute;
    top: -20px;
}

.seventh_block p.contactus {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;   
    margin: 0;
    position: relative;
    top: -13px;
}
.seventh_block p.contactus:before {
    content: "";
    position: absolute;
    width: 17%;
    height: 1px;
    background-color: #424242;
    bottom: 40%;
    left:0;
}
.seventh_block p.contactus:after {
    content: "";
    width: 17%;
    height: 1px;
    background-color:  #424242;
    position: absolute;
    bottom: 40%;
    right: 0%;
}

.seventh_block p.optsale {
    color: #bbbaba;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    margin: -3px 0 30px 0;
}
.seventh_block .form_cont_us .form {
    border-bottom: 1px solid #424242;
    border-right: 1px solid #424242;
    border-left: 1px solid #424242;
    margin: 0 10px 30px 10px;
}

.seventh_block .form_cont_us .form  input[type="text"] {
    width: 220px;
    height: 51px;
    background-color: white;
    border: 1px solid #010510;
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 0 0 0 50px;
}

.seventh_block .form_cont_us .form input[type="text"]:nth-child(3){
    background-image: url(img/man_input.png);
    background-repeat: no-repeat;
    background-size: 21px 20px;
    background-position: 10% 50%;
}

.seventh_block .form_cont_us .form input[type="text"]:nth-child(4) {
    background-image: url(img/tel_input.png);
    background-repeat: no-repeat;
    background-size: 14px 25px;
    background-position: 10% 50%;
}

.seventh_block .form_cont_us .form input[type="text"]:nth-child(5) {
    background-image: url(img/mail_input.png);
    background-repeat: no-repeat;
    background-size: 23px 17px;
    background-position: 10% 50%;
    margin: 0 0 30px 0;
}

.seventh_block .form_cont_us .form a.contact-us {
    color: #fff;
    /*width: 267px;*/
    width: 88%;
    height: 50px;
    border: 3px solid #dce3ea;
    border-radius: 3px;
    line-height: 50px;
    margin: 0 auto 20px auto;
}

/*                восьмая          */
.eighth_block {
    padding: 30px 0 0 0;
}
.eighth_block p.describ {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 10px 0 10px;
}

.eighth_block p.describ span {
    color: #0068b6;
    font-size: 20px;
    font-weight: 700;
}
.eighth_block p.describ span:nth-child(2) {
    color: #0068b6;
    font-size: 14px;
    font-weight: 700;
}
.eighth_block .down_block {
   text-align: center;
   margin: 20px 0 0 0;
}

.eighth_block .down_block p {  
    width: 152px;
    height: 14px;
    color: #e5cb52;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 10px auto 30px auto;
}
.eighth_block .down_block img {  
    width: 140px;
    height: 33px;
}

/*           девятая         */

.nineth_block img.imgforvideo {
    width: 318px;
    height: 320px;
}

.nineth_block .bx-wrapper img {
    margin: 0 auto !important;
    margin: 0px 0 0 40px !important;
}
.nineth_block .bx-viewport ul li {
    width: 200px !important;
    padding: 0 0 0 20px;
}

.nineth_block ul.bxslider {
    justify-content: center !important;
    display: flex !important;
}
.nineth_block .bx-wrapper .bx-controls-direction a {
    display: none !important;
}

.nineth_block .bx-wrapper {
    margin: 0 auto !important;
}
.nineth_block .bx-viewport {
    box-sizing: border-box;
    z-index: -1;
}
.nineth_block .bxslider li p {
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 20px auto 15px auto;
    width: 300px;
}

.nineth_block .arrow_goriz {
    width: 300px;
}


/*             десятая      */
.tenth_block .form_cont_us {
    background-image: url(img/back7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px 0 0 0;
    position: relative;
    margin: 40px 0 0 0;
}
.tenth_block .form_cont_us:before {
    content: "";
    width: 1px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 0;
}
.tenth_block .form_cont_us:after{
    content: "";
    width: 1px;
    height: 20px;
    background: #000;
    position: absolute;
    top: -20px;
}

.tenth_block p.contactus {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;   
    margin: 0;
    position: relative;
    top: -13px;
}
.tenth_block p.contactus:before {
    content: "";
    position: absolute;
    width: 17%;
    height: 1px;
    background-color: #424242;
    bottom: 40%;
    left:0;
}
.tenth_block p.contactus:after {
    content: "";
    width: 17%;
    height: 1px;
    background-color:  #424242;
    position: absolute;
    bottom: 40%;
    right: 0%;
}

.tenth_block p.optsale {
    color: #bbbaba;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    margin: -3px 0 30px 0;
}
.tenth_block .form_cont_us .form {
    border-bottom: 1px solid #424242;
    border-right: 1px solid #424242;
    border-left: 1px solid #424242;
    margin: 0 10px 30px 10px;
}

.tenth_block .form_cont_us .form  input[type="text"] {
    width: 220px;
    height: 51px;
    background-color: white;
    border: 1px solid #010510;
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 0 0 0 50px;
}

.tenth_block .form_cont_us .form input[type="text"]:nth-child(3){
    background-image: url(img/man_input.png);
    background-repeat: no-repeat;
    background-size: 21px 20px;
    background-position: 10% 50%;
}

.tenth_block .form_cont_us .form input[type="text"]:nth-child(4) {
    background-image: url(img/tel_input.png);
    background-repeat: no-repeat;
    background-size: 14px 25px;
    background-position: 10% 50%;
}

.tenth_block .form_cont_us .form input[type="text"]:nth-child(5) {
    background-image: url(img/mail_input.png);
    background-repeat: no-repeat;
    background-size: 23px 17px;
    background-position: 10% 50%;
    margin: 0 0 30px 0;
}

.tenth_block .form_cont_us .form a.contact-us {
    color: #fff;
    /*width: 267px;*/
    width: 88%;
    height: 50px;
    border: 3px solid #dce3ea;
    border-radius: 3px;
    line-height: 50px;
    margin: 0 auto 20px auto;
}



/*          одинацтая        */
.eleventh_block {
    padding: 30px 0 0 0;
}
.eleventh_block p.describ {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 10px 0 10px;
}

.eleventh_block p.describ span {
    color: #0068b6;
    font-size: 20px;
    font-weight: 700;
}
.eleventh_block p.describ span:nth-child(2) {
    color: #0068b6;
    font-size: 14px;
    font-weight: 700;
}
.eleventh_block .down_block {
   text-align: center;
   margin: 20px 0 0 0;
}

.eleventh_block .down_block p {  
    width: 152px;
    height: 14px;
    color: #e5cb52;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 10px auto 30px auto;
}
.eleventh_block .down_block img {  
    width: 140px;
    height: 33px;
}

/*           двенадцатая       */
.twelfth_block {
    padding: 0 0 40px 0;
}
.twelfth_block img.imgforvideo {
    width: 318px;
    height: 320px;
}

.twelfth_block .bx-wrapper img {
    margin: 0 auto !important;
    margin: 0px 0 0 40px !important;
}
.twelfth_block .bx-viewport ul li {
    width: 200px !important;
    padding: 0 0 0 20px;
}

.twelfth_block ul.bxslider {
    justify-content: center !important;
    display: flex !important;
}
.twelfth_block .bx-wrapper .bx-controls-direction a {
    display: none !important;
}

.twelfth_block .bx-wrapper {
    margin: 0 auto !important;
}
.twelfth_block .bx-viewport {
    box-sizing: border-box;
    z-index: -1;
}
.twelfth_block .bxslider li p {
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 20px auto 15px auto;
    width: 300px;
}

.twelfth_block .arrow_goriz {
    width: 300px;
}





/*         тринадцатая  */
.thitenth {
    color:#fff;
    background: linear-gradient(to top, purple, crimson, orangered, gold);
}
.thitenth p {
   margin: 0;
}

.thitenth .second {
    background: #4d1919;
    padding: 5% 0;
    margin: 10px;
}

.thitenth .first p.studyyourstaff {
    padding: 30px 0 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    width: 87%;
    margin: 0 auto;
    position: relative;
}
.thitenth .first .arrow-yellow {
    margin: 0 auto 0 auto;
}

.thitenth .first p.morebenefits {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 0;
    text-align: center;
    width: 87%;
    margin: 0 auto;
}
.thitenth .first p.procent {
    color: #e5cb52;
    font-weight: 900;
    line-height: 37px;
    font-size: 50px;
    padding: 0 0 20px 0;
    text-align: center;
    height: 38px;
}

.thitenth .first p.procent span {
    font-size: 20px;
}

.thitenth .first p.studyyourstaff:before {
    content: "";
    width: 1px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
}

.thitenth .first p.studyyourstaff:after {
    content: "";
    width: 1px;
    height: 20px;
    background: #000;
    position: absolute;
    top: -20px;
    left: 50%;
}
.thitenth .second p {
    margin: 0 auto;
    padding: 90px 0;
    width: 90%;
    text-align: center;
    border: 3px solid #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


.thitenth .third p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin: 20px 5% 0 5%;
}

.thitenth .third span{
    font-weight: 700;
}

.thitenth .third p:nth-child(2) {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 0 40px 0;
}





/*          четырнадцтая           */
.fourtenth img.imgforvideo {
    width: 318px;
    height: 320px;
}

.fourtenth .bx-wrapper img {
    margin: 0 auto !important;
    margin: 0px 0 0 40px !important;
}
.fourtenth .bx-viewport ul li {
    width: 200px !important;
    padding: 0 0 0 20px;
}

.fourtenth ul.bxslider {
    justify-content: center !important;
    display: flex !important;
}
.fourtenth .bx-wrapper .bx-controls-direction a {
    display: none !important;
}

.fourtenth .bx-wrapper {
    margin: 0 auto !important;
}
.fourtenth .bx-viewport {
    box-sizing: border-box;
    z-index: -1;
}
.fourtenth .bxslider li p {
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 20px auto 15px auto;
    width: 300px;
}

.fourtenth .comment {
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin: 20px 0 10px 0;
}
.fourtenth .arrow-yellow {
    margin: 10px auto 25px auto;
}


.fourtenth .bx-viewport {
    height: 370px !Important;
}
#slider6 li p {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 0 25%;
    text-align: left;
    width: 100%;
}

#slider6 li p:nth-child(3) {
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 700;
    line-height: 33px;
}

#slider6 li p:nth-child(4) {
    color: #2a2a2a;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
}
#slider6 li p:nth-child(5) {
    height: 12px;
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 700;
    line-height: 33px;
}



/*      пятнадцатая контакты       */
.fiftenth p {
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}
.fiftenth p:nth-child(3) {
    color: #6c6c6c;
    font-size: 15px;
    font-style: italic;
    line-height: 22px;
}



/*        шестнадцатая      */
.footer {
    background-color: #e8e8e8;  
    padding: 40px 0;
}
.footer .footer_backgr {
    height: 27px;
    background-color: #2f2f2f; 
    position: relative;
}
.footer .footer_logo {
    background-image: url("img/logo_1.png");
    background-repeat: no-repeat;
    width: 140px;
    height: 37px;
    position: absolute;
    left: 31%;
    top: -10px;
}

.footer ul {
    text-align: center;
}

.footer ul li {
    color: #292929;
    font-size: 20px;
    font-weight: 400;
    line-height:24px;
    width: 212px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.footer ul li:nth-child(6) {
    color: #36609d;
}

.footer ul li:nth-child(7) {
    color: #202020;
    font-size: 14px;
}